*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: lightblue;
    text-align: center;
    height: 100%;
    border: 3px solid yellow;
}

body{
    height: 100%;
    border: 3px solid pink;
    font-size: 20px;
}

.game{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
}

.game-board{
    border-collapse: collapse;
    table-layout: fixed;
    display: grid;
    gap: 20px;
    justify-content: center;
}

caption, .winner{
    font-size: 2rem;
    font-weight: 900;
    color: grey;
}

td{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    font-size: 2rem;
    color: red;
    font-weight: 900;
    background-color: white;
}

#players{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#form-x, #form-o {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.player-x, .player-o, .play-again{
    padding: 10px 40px;
    border-radius: 2rem;
    font-size: 2rem;
    color: red;
    font-weight: 900;
}

.player-x:hover, .player-o:hover{
    transform: scale(1.1);
}

.hidden{
    visibility: hidden;
}

.player-x, .player-o{
    max-width: 150px;
}

input[type="text"] {
    outline: none;
    border-radius: 2rem;
    text-align: center;
    font-weight: 900;
    color: red;
    font-size: 1.5rem;
}

input[type="text"]:focus{
    background-color: aqua;
}